.camera {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px 10px 10px;
}
.camera img {
  height: 250px;
  width: 250px;
}
.camera-info {
  margin: 20px;
}
.cart-button {
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: cadetblue;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cart-button p {
  margin-bottom: 0;
}
