.camera {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.camera img {
  width: 65%;
  padding-top: 20px;
}
.camera-info {
  margin: 20px;
}
.cart-button {
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: cadetblue;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.cart-button :hover {
  transform: scale(1.1);
}
.cart-button p {
  margin-bottom: 0;
}
