.shop-container {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  margin-top: 150px;
}
.cameras-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 30px 50px;
}
.cart-container {
  position: sticky;
  top: 100px;
  right: 0;
  height: 500px;
  width: 300px;
  background-color: cadetblue;
  border-radius: 5px;
  padding: 20px 00px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.cart-container h3 {
  margin: 10px;
  color: white;
}
#chosen-section {
  display: none;
}
#chosen-section h5 {
  margin: 30px 0 10px 0;
  color: white;

  /* text-align: center; */
  /* justify-content: center; */
}
#chosen-camera {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 2px 20px, rgba(0, 0, 0, 0.23) 0px 4px 6px;
}
#chosen-camera h6 {
  margin-bottom: 0;
}
#chosen-camera img {
  height: 30px;
  width: 30px;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#choose-button {
  width: 150px;
  font-weight: 600;
  color: #008000bc;
  background-color: white;
  border: 2px solid #008000bc;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
#choose-button:hover {
  color: white;
  background-color: #008000bc;
  border: 2px solid white;
  border-radius: 5px;
}
#choose-again-button {
  width: 150px;
  font-weight: 600;
  color: #ff0000ad;
  background-color: white;
  border: 2px solid #ff0000ad;
  border-radius: 5px;
  padding: 5px;
}
#choose-again-button:hover {
  color: white;
  background-color: #f83d3d;
  border: 2px solid white;
  border-radius: 5px;
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .cameras-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .cameras-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
