.qna-section {
  background-color: cadetblue;
  margin: 20px 0 50px 0;
  padding: 30px;
  border-top: 15px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.qna-section h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  color: white;
}
.questions {
  /* background-color: red; */
  margin-bottom: 10px;
}
.answers {
  text-align: justify;
}
